.offer
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between; /* Растягивание Мен */
	margin: 0 auto;
	margin: 70px 0px;


}
.form input {
	border: 1px solid #a2a3a4;
	font-size: 15px;
	width: 213px;
	padding: 13px 18px;
	background: transparent;
	margin-bottom: 12px;
}
.send
{
	margin-top: 7px;
	background: yellow;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	text-decoration: none;
	display: block;
	padding: 17px 0;
	text-align: center;
	width: 241px;
	font-family: Tahoma, Arial, sans-serif;
	border: none;
	cursor: pointer;
}
.element
{
	
	border: 1px solid #d5d5d5;
	background: #184c6b;
	border-radius: 25px;
	padding: 0 45px 0 45px;


}
.element h3
{
	color: #c0ddee;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 20px 10px 0px;
}
.element img
{
	width: 205px;
	height: 120px;
	margin-top: 25px;
	margin-bottom: 15px; 
}
.text
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between; /* Растягивание Мен */
	width: 450px;	
	margin: 0 auto;
	
}
.text p 
{	
	width: 200px;
	color: #c0ddee;
	font-size: 14px;
	font-weight: normal;
}
.protect
{
	margin-top: 15px;
	font-size: 12px;
	color: #84898d;
}
#text1 {
	border: 1px solid #a2a3a4;
	font-size: 15px;
	width: 338px;
	padding: 62px 11px;
	background: transparent;
	margin-bottom: 12px;
	text-align: start;
	justify-content: space-between;
}
.offer h2
{
	font-size: 19px;
	font-weight: bold;
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
}